<div class="row mt-5 bg-transparent">
    <div class="col-md-6 m-auto bg-transparent">
        <div class="card card-body rounded bg-loght">
            <div>
                <div *ngIf="!this.authenticated">
                    <h2 class="text-center">Welcome to Student Aid Management System</h2>
                    <hr />
                    <a href="/users/login" class="btn btn-primary btn-lg btn-block">Login</a>
                    <a href="/users/register" class="btn btn-primary btn-lg btn-block">Register</a>
                </div>
                
                <div *ngIf="this.authenticated">
                    <h2 class="text-center">Hello {{ this.user!.name }}</h2>
                    <hr />
                    <h3 class="text-center">User</h3>
                    <button (click)="logout()" class="btn btn-info btn-lg btn-block">Logout</button>
                    <hr />
                    <h3 class="text-center">Science Clubs</h3>
                    <button *ngIf="this.isHeadAdmin" class="btn btn-info btn-lg btn-block" (click)="routeAddClub()">Add</button>
                    <button class="btn btn-info btn-lg btn-block" (click)="routeJoin()">Club registrations</button>
                    <hr />
                    <h3 class="text-center">Student's Aid</h3>
                    <button *ngIf="this.isHeadAdmin" class="btn btn-info btn-lg btn-block" (click)="routeAddAid()">Add</button>
                    <button class="btn btn-info btn-lg btn-block" (click)="routeListAid()">List</button>
                    <button class="btn btn-info btn-lg btn-block" (click)="routeCalendar()">Calendar</button>
                </div>
            </div>
        </div>
    </div>
</div>
